@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    font-family: 'Roboto', sans-serif;
}
.smash button {
    margin: 10px;
}
#poketitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
    text-align: center;
}
#poke_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#poke_container img{
    filter: drop-shadow(20px 10px 20px rgba(0,0,0,0.55));
    margin-top: px;
    width: 400px;
    height: 400px;
}
#welcome_message button {
    margin: 5px;
    font-size: 20pt;
}
#welcome_message p {
    hyphens: auto;
}
#welcome_message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main {
    display: block;
}
#buttons {
    display: flex;
    justify-content: center;
}
button {
    box-shadow: 0px 0px 10px #888;
    font-size: 40pt;
    margin-bottom: 100px;
    border-style: none;
    border-width:3px;
    border-radius: 25px;

}
#stats {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    align-items: center;
    text-shadow: 0px 0px 10px #888;
}
#smashButton {
    background-color: #4ec417;
}
#passButton {
    background-color: #be2e2a;
}

#ger {
    background-color: #4ec417;
}
#en {
    background-color: #be2e2a;
}
#stert {
    background: #ce690a;
}